$cup-color: black;

.cup {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 120px;
    height: 100px;
    background-color: $cup-color;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &:before, &:after{
        position: absolute;
        content: '';
    }
    
    &:before {
        border: 15px solid $cup-color;
        border-radius: 100px;
        height: 40px;
        width: 40px;
        right: -35px;
    }

    &:after {
        bottom: -25px;
        left: -40px;
        width: 200px;
        height: 20px;
        background-color: $cup-color;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}
